{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="container mx-auto" style="margin-top:150px; margin-bottom:150px;">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

    <h2 class="text-center mt-5 mb-3 fs-1 text-secondary">Connectez-vous</h2>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8 col-11 border rounded border-secondary text-secondary shadow mb-3 p-4 bg-primary">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="d-flex justify-content-between">
                    <button class="btn btn-secondary text-light mt-3 fs-5" type="submit">
                            Se connecter
                    </button> 
                    <a class="btn btn-secondary text-light mt-3 fs-5" href="{{ path('app_register') }}">
                    Créer un compte
                    </a> 
                </div>

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
           </div> 
        </div>
    </form>
</div>
{% endblock %}