$primary:#ffc6c1;
$secondary: grey;
$light: #FFFFFF;
$intermediary: rgb(216, 211, 211);
$pink:#ff6582;
$warning:rgb(230, 172, 16);
$success:green;
$danger: rgb(209, 10, 10);
$dark:#000000;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "pink":    $pink,
    "light":      $light,
    "dark":       $dark,
    "warning":       $warning,
    "success":       $success,
    "danger":       $danger,

    "intermediary": $intermediary,
);

$display-font-sizes: (
    1: 5rem,
    2: 4.5rem,
    3: 4rem,
    4: 3.5rem,
    5: 3rem,
    6: 2.5rem
);

$text-font: 'Rancho', cursive;
$font-title: 'Space Mono', monospace;
$font-subtitle:'Kaushan Script', cursive;
$title-weight: 800;
$card-height: 100%;